:root{
--bluecolor:#090b50;
}
/*  Search bar */
html {
  box-sizing: border-box  ;
  font-family:Raleway;
}

.search {
  color: white;
  font-size: 18px;
  font-weight: 900;
  border: none;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 20px;
  padding-bottom: 10px;
}

.search:focus {
  border: none;
  border-bottom: solid 2px #5879c7;
  outline: none;
}

a {
  text-decoration: none;
}

#header {
  background-color: #759eda;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding:0; 
}

.button {
  background-color: #5879c7;
  color: var(--bluecolor);
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

/* Current weather */
.icon {
  width: 220px;
  height: 220px;
  margin-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ccef3;
  margin: 0%;
  height: 100%;
}

.below-image-text {
  margin-top: 0;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.temp {
  font-size: 28px;
  font-weight: bold;
  color: var(--bluecolor);
  padding: 0 20px;
}

.temp-range {
  font-size: 25px;
  color: var(--bluecolor);
}

.property {
  font-size: 20px;
  font-weight: bold;
  color: var(--bluecolor);
  padding: 0 20px;
}

.value {
  font-size: 20px;
  color: var(--bluecolor);
}

.cards {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #113956;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.card-icon {
  width: 100px;
  padding: 25px 0;
}
@media (max-width:540px){
  .button{
    transform: scale(0.8);
    width: 200px;
  }
}
@media (max-width:452px){

  .button{
    position: absolute;
    left: 50%;
    transform: scale(0.6);
    width: 200px;
  }
  .search{
    transform: scale(0.8);
  }
}
 
@media (max-width:280px){

    .button{
      position: absolute;
      left: 35%;
      transform: scale(0.6);
      width: 200px;

    }
    .search{
      position: absolute;
      right: 15%;
      transform: scale(0.6);
    }
   
  }


